---
import Header from '../components/layouts/Header.astro';
import Footer from '../components/layouts/Footer.astro';

import '../styles/index.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full" data-theme="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<!-- initialize theme -->
		<script is:inline>
			const themeSaved = localStorage.getItem("theme");

			if (themeSaved) {
				document.documentElement.dataset.theme = themeSaved;
			} else {
				const utcHour = new Date().getUTCHours();
				const hourInGMT8 = (utcHour + 8) % 24;
				const isDaytime = hourInGMT8 >= 6 && hourInGMT8 < 18;
				document.documentElement.dataset.theme = isDaytime ? "light" : "dark";
			}
		</script>
	</head>
	<body class="h-full flex flex-col overflow-x-hidden bg-default
		text-default text-base selection:bg-secondary">
		<Header />
		<section class="flex-grow">
			<slot />
		</section>
		<Footer />
	</body>
</html>